* {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: "Alibaba PuHuiTi 3.0, Alibaba PuHuiTi 30";
  src: url("./AlibabaPuHuiTi-3-55-Regular.ttf");
}
body{
    margin: 0;
    font-family: "Alibaba PuHuiTi 3.0, Alibaba PuHuiTi 30" !important;
}
div,span,p,button{
  font-family: "Alibaba PuHuiTi 3.0, Alibaba PuHuiTi 30" !important;
}
div{
    box-sizing: border-box;
    user-select: none;  
}


.el-table {
  table-layout: fixed; /* 固定表格布局 */
  width: 1920px !important; /* 固定宽度 */
  transform-origin: left top;
}

/* 根据视口缩放 */
@media screen and (max-width: 1920px) {
  .el-table {
    transform: scale(calc(100vw / 1920));
  }
}

/* 固定单元格尺寸 */
.el-table th,
.el-table td {
  min-width: 100px !important;
  max-width: 100px !important;
  height: 40px !important;
  padding: 0 !important;
}
