.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.j-center{
    justify-content: center;
}
.f-start{
    justify-content: flex-start;
}
.f-end{
    justify-content: flex-end;
}
.a-start{
    align-items: flex-start;
}
.a-end{
    align-items: flex-end;
}
.d-column{
    flex-direction: column;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_space_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_space_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_space_around_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex_center_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fs-0{
    flex-shrink: 0;
}